{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class = "alert alert-{{ type|replace({'fos_user_': ""}) }} alert-dismissable">
            <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
                &times;
            </button>
            {{ message|trans() }}
        </div>
    {% endfor %}
{% endfor %}
<div class = "alert alert-danger alert-dismissable">
    <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
        &times;
    </button>
    something
</div>
