# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_mysql
    database_host: '%env.database.host%'
    database_port: ~
    database_name: sif
    database_user: '%env.database.user%'
    database_password: '%env.database.password%'
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:     '%env.mailer.host%'
    mailer_user:     '%env.mailer.user%'
    mailer_password: '%env.mailer.password%'

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # facebook id
    facebook_app_id: '%env.facebook.id%'
    facebook_app_secret: '%env.facebook.secret%'

    #aws
    aws_key: '%env.aws.key%'
    aws_secret: '%env.aws.secret%'
    aws_sqs_emailurl: '%env.aws.emailurl%'
