/**********************************************************
* General
**********************************************************/

body {
    font-family: 'Open sans', helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #4D343D;
    color: white;
}

a {
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
}

.content {
    margin-top: 7em;
}

/**********************************************************
* General
**********************************************************/

.filter-form input {
    background-color: transparent;
    color: #fff;
}

.filter-form input:focus {
    border-color: #fff;
}

.list-style {
    display: inline-block;
    padding: 0;
}

.inline {
    display: inline;
}

.header {
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: -1px;
}

.header ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    float: right;
}

.header li {
    display: inline;
}

.header li a {
    color: white;
    padding: 8px;
}

.message {
    margin-bottom: 1em;
}

.message.message-first {
    text-align: center;
    font-size: 18px;
}

#first_query_save,  #_submit {
    background-color: #FF6E32;
    color: whitesmoke;
    border-color: #FF6E32;
    width: 150px;
}

.grey-black {
    color: #333;
}

.mb2 {
    margin-bottom: 20px;
}

.mt2 {
    margin-top: 20px;
}


.sif-white {
    color: whitesmoke;
}

.sif-orange {
    color: #FF6E32
}

.form--option {
    color: #b9bcc0;
    font-size: 1.75em;
    line-height: 2.5;
    position: relative;
    text-align: center;
}

.form--option:after, .form--option:before {
    border-top: 1px solid #e1e2e4;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 42%;
    z-index: 0;
}

.form--option:before {
    left: auto;
    right: 0;
}


.sif-button {
    background-color: #FF6E32;
    border-color: #FF6E32;
    color: whitesmoke;
}

