body {
   background: linear-gradient(to left, #0AC977, #0AB1C9)
}

.header ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    float: right;
}

.header li {
    display: inline;
}

.header li a {
    color: white;
    padding: 8px;
}

.pageSection {
    min-height: 600px;
    color: whitesmoke;
}

#first_query_save,  #_submit {
    background-color: #FF6E32;
    color: whitesmoke;
    border-color: #FF6E32;
    width: 150px;
}

.mb2 {
    margin-bottom: 20px;
}

.mt2 {
    margin-top: 20px;
}

.content {
    margin-left: 13px;
}

.available-sites {
    text-align: right;
}

.modal {
    text-align: center;
}

.sif-white {
    color: whitesmoke;
}

.sif-orange {
    color: #FF6E32
}

.form--option {
    color: #b9bcc0;
    font-size: 1.75em;
    line-height: 2.5;
    position: relative;
    text-align: center;
}

.form--option:after, .form--option:before {
    border-top: 1px solid #e1e2e4;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 42%;
    z-index: 0;
}

.form--option:before {
    left: auto;
    right: 0;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.sif-button {
    background-color: #FF6E32;
    border-color: #FF6E32;
    color: whitesmoke;
}

@media (min-width: 1200px) {
    .content {
        margin-left: 210px;
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .available-sites {
        text-align: left;
    }
}