{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Hi {{ app.user.username }}
            check your filters <a href="{{ path('filter') }}">here</a>
        {% else %}
            Hi unknow! You can register <a href="{{ path('fos_user_registration_register') }}">here</a>
            or login <a href="{{ path('fos_user_security_login') }}">here</a>
        {% endif %}
    </div>
{% endblock %}
